<div class="content" role="main">

    <div class="card highlight-card card-small">

        <div class="header">
            <span>My time usage Percent in a days.</span>

        </div>


        <div class="mainContent">

            <div class="card lg:col-4 p-2">
                <div class="shadow-2 surface-card border-round p-4 h-full">
                    <div class="flex align-items-start mb-5">
                        <img src="assets/joy.jpg" width="56" height="56" />
                        <div class="ml-3">
                            <span class="block text-900 mb-1 text-xl font-medium">My social usage time in this
                                time</span>
                            <p class="text-600 mt-0 mb-0">time usage in my social media</p>
                        </div>
                    </div>
                    <ul class="list-none p-0 m-0">
                        <li class="mb-5">
                            <div class="flex justify-content-between align-items-center">
                                <span class="text-900 inline-flex justify-content-between align-items-center">
                                    <i class="pi pi-twitter mr-2"></i>
                                    <span class="font-medium text-900">Twitter</span>
                                </span>
                                <span class="text-cyan-500 font-medium">45.00%</span>
                            </div>
                            <div class="surface-300 w-full mt-2" style="height: 7px; border-radius: 4px">
                                <div class="bg-cyan-500 h-full" style="width:45%; border-radius: 4px"></div>
                            </div>
                        </li>
                        <li class="mb-5">
                            <div class="flex justify-content-between align-items-center">
                                <span class="text-900 inline-flex justify-content-between align-items-center">
                                    <i class="pi pi-facebook mr-2"></i>
                                    <span class="font-medium text-900">Facebook</span>
                                </span>
                                <span class="text-indigo-500 font-medium">80%</span>
                            </div>
                            <div class="surface-300 w-full mt-2" style="height: 7px; border-radius: 4px">
                                <div class="bg-indigo-500 h-full" style="width:80%; border-radius: 4px"></div>
                            </div>
                        </li>
                        <li>
                            <div class="flex justify-content-between align-items-center">
                                <span class="text-900 inline-flex justify-content-between align-items-center">
                                    <i class="pi pi-google mr-2"></i>
                                    <span class="font-medium text-900">Google</span>
                                </span>
                                <span class="text-orange-500 font-medium">30.00%</span>
                            </div>
                            <div class="surface-300 w-full mt-2" style="height: 7px; border-radius: 4px">
                                <div class="bg-orange-500 h-full" style="width:30%; border-radius: 4px"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


        </div>

        <div class="header">
            <span>My stat in my game that i played</span>

            <div class="mainContent">
                <div class="chartArea">
                    <p-chart type="radar" [data]="data" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>
                </div>
            </div>

        </div>

    </div>



</div>