<div class="nav">
  <div class="surface-section px-4 py-3 md:px-6 lg:px-8">
    <div class="flex align-items-start flex-column lg:flex-row lg:justify-content-between">
      <div class="flex align-items-start flex-column md:flex-row">
        <div>
          <span class="text-900 font-medium text-3xl">Jittipon Kumurai</span>
          <i class="pi pi-star text-2xl ml-4 text-yellow-500"></i>
          <div class="flex align-items-center flex-wrap text-sm">
            <div class="mr-5 mt-3">
              <span class="font-medium text-500">FOLLOWERS</span>
              <div class="text-700 mt-2">333</div>
            </div>
            <div class="mr-5 mt-3">
              <span class="font-medium text-500">PROJECTS</span>
              <div class="text-700 mt-2">26</div>
            </div>
            <div class="mr-5 mt-3">
              <span class="font-medium text-500">COLLECTIONS</span>
              <div class="text-700 mt-2">17</div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-3 ml-8 lg:mt-0">
        <button pButton pRipple routerLink="/pageone" routerLinkActive="active" ariaCurrentWhenActive="page"
          icon="pi pi-bookmark" class="p-button-rounded mr-2"></button>
        <button pButton pRipple routerLink="/pagetwo" routerLinkActive="active" icon="pi pi-heart"
          class="p-button-rounded p-button-success mr-2"></button>
        <button pButton pRipple routerLink="/pagethree" routerLinkActive="active" icon="pi pi-list"
          class="p-button-rounded p-button-help"></button>
      </div>
    </div>
  </div>
</div>


<div class="content" role="main">




</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>