:host ::ng-deep .p-chip.custom-chip1 {
    background: red;
    color: var(--primary-color-text);
    margin-right: 1rem;
}

:host ::ng-deep .p-chip.custom-chip2 {
    background: var(--primary-color);
    color: var(--primary-color-text);
    margin-right: 1rem;
}

:host ::ng-deep .p-chip.custom-chip3 {
    background: blue;
    color: var(--primary-color-text);
    margin-right: 1rem;
}

:host ::ng-deep .p-chip.custom-chip4 {
    background: purple;
    color: var(--primary-color-text);
    margin-right: 1rem;
}

:host ::ng-deep .p-chip.custom-chip5 {
    background: black;
    color: var(--primary-color-text);
    margin-right: 1rem;
}

.header {
    color: white;
    margin-bottom: 2rem;
}