<div class="surface-card shadow-2 border-round p-4">
    <div class="flex justify-content-between align-items-center mb-5">
        <span class="text-xl text-900 font-medium">My Favorite Food</span>
        <div>
            <button pButton pRipple icon="pi pi-ellipsis-v"
                class="p-button-text p-button-plain p-button-rounded"></button>
        </div>
    </div>
    <ul class="list-none p-0 m-0">
        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
            <div class="flex">
                <img src="assets/basil.png" class="mr-3" style="width: 45px; height: 45px" />
                <div class="mr-0 md:mr-8">
                    <span class="block text-900 font-medium mb-1">ผัดกะเพรา ไข่ดาวไม่สุก</span>
                    <div class="text-600">เผ็ดๆ</div>
                </div>
            </div>
            <div class="mt-2 md:mt-0 flex flex-nowrap">
                <button pButton pRipple class="p-button-text p-button-plain p-button-rounded mr-1"
                    icon="pi pi-twitter"></button>
                <button pButton pRipple class="p-button-text p-button-plain p-button-rounded mr-1"
                    icon="pi pi-github"></button>
                <button pButton pRipple class="p-button-text p-button-plain p-button-rounded mr-1"
                    icon="pi pi-facebook"></button>
            </div>
        </li>
        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
            <div class="flex">
                <img src="assets/southern.webp" class="mr-3" style="width: 45px; height: 45px" />
                <div class="mr-0 md:mr-8">
                    <span class="block text-900 font-medium mb-1">แกงใต้</span>
                    <div class="text-600">แกงกะทิ แกงคั่ว</div>
                </div>
            </div>
            <div class="mt-2 md:mt-0 flex flex-nowrap">
                <button pButton pRipple class="p-button-text p-button-plain p-button-rounded mr-1"
                    icon="pi pi-twitter"></button>
                <button pButton pRipple class="p-button-text p-button-plain p-button-rounded mr-1"
                    icon="pi pi-github"></button>
                <button pButton pRipple class="p-button-text p-button-plain p-button-rounded mr-1"
                    icon="pi pi-facebook"></button>
            </div>
        </li>
        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
            <div class="flex">
                <img src="assets/chicken.png" class="mr-3" style="width: 45px; height: 45px" />
                <div class="mr-0 md:mr-8">
                    <span class="block text-900 font-medium mb-1">ข้าวมันไก่</span>
                    <div class="text-600">ผสม</div>
                </div>
            </div>
            <div class="mt-2 md:mt-0 flex flex-nowrap">
                <button pButton pRipple class="p-button-text p-button-plain p-button-rounded mr-1"
                    icon="pi pi-twitter"></button>
                <button pButton pRipple class="p-button-text p-button-plain p-button-rounded mr-1"
                    icon="pi pi-github"></button>
                <button pButton pRipple class="p-button-text p-button-plain p-button-rounded mr-1"
                    icon="pi pi-facebook"></button>
            </div>
        </li>
        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
            <div class="flex">
                <img src="assets/noodle.jpeg" class="mr-3" style="width: 45px; height: 45px" />
                <div class="mr-0 md:mr-8">
                    <span class="block text-900 font-medium mb-1">ก๋วยเตี๋ยว</span>
                    <div class="text-600">ต้มยำน้ำข้น</div>
                </div>
            </div>
            <div class="mt-2 md:mt-0 flex flex-nowrap">
                <button pButton pRipple class="p-button-text p-button-plain p-button-rounded mr-1"
                    icon="pi pi-twitter"></button>
                <button pButton pRipple class="p-button-text p-button-plain p-button-rounded mr-1"
                    icon="pi pi-github"></button>
                <button pButton pRipple class="p-button-text p-button-plain p-button-rounded mr-1"
                    icon="pi pi-facebook"></button>
            </div>
        </li>
        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
            <div class="flex">
                <img src="assets/tiger.webp" class="mr-3" style="width: 45px; height: 45px" />
                <div class="mr-0 md:mr-8">
                    <span class="block text-900 font-medium mb-1">อาหารอีสาน</span>
                    <div class="text-600">เสือร้องไห้</div>
                </div>
            </div>
            <div class="mt-2 md:mt-0 flex flex-nowrap">
                <button pButton pRipple class="p-button-text p-button-plain p-button-rounded mr-1"
                    icon="pi pi-twitter"></button>
                <button pButton pRipple class="p-button-text p-button-plain p-button-rounded mr-1"
                    icon="pi pi-github"></button>
                <button pButton pRipple class="p-button-text p-button-plain p-button-rounded mr-1"
                    icon="pi pi-facebook"></button>
            </div>
        </li>
    </ul>
</div>